{% extends "base.html" %}

{% block title %}เซ็นเซอร์ลม{% endblock title %}

{% block content %}
<h1>เซ็นเซอร์ลม</h1>

<h3>ค่าล่าสุด: <span id="latestWind"></span></h3>


<form action="" method="get">
    ค้นหา <input type="text" name="search" placeholder="เซ็นเซอร์" value="{{search}}">
    <input type="submit" value="ค้นหา">
</form>

<form action="" method="get">
    หน้า <input type="number" name="page" min="1" max="{{data.meta.totalPages}}" value="{{data.meta.page}}"> / {{data.meta.totalPages}}
    <input type="submit" value="ตกลง">
</form>

<table>
    <thead>
        <tr>
            <th>เซ็นเซอร์</th>
            <th>ความเร็ว</th>
            <th>ทิศทาง</th>
            <th>เวลา</th>
        </tr>
    </thead>
    <tbody>
        {% for item in data.items %}
        <tr>
            <td>{{item.sensorId}}</td>
            <td>{{item.speed}}</td>
            <td>{{item.direction}}</td>
            <td>{{item.createdAt}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}

{% block scripts%}
<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/handle-mqtt.js"></script>
{% endblock scripts%}