# APP
PUBLIC_IP=192.168.1.121
HOST=0.0.0.0
PORT=3000
SECRET=xxxxxxxx

# POSTGRES
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=xxxxxxxx

# REDIS
REDIS_PORT=6379

# MQTT
MQTT_URL=mqtt://127.0.0.1:1883

# MEDIA_MTX
MEDIA_MTX_URL=http://127.0.0.1:9997
MEDIA_MTX_RTSP=rtsp://127.0.0.1:8554

# HOTSPOT_DETECTION
HOTSPOT_DETECTION_URL=http://127.0.0.1:8000

# FORECASE
FORECASE_URL=http://127.0.0.1:8092

# WAR ROOM
# WAR_ROOM_URL="https://rproxy.cp.su.ac.th:84621"
WAR_ROOM_URL=http://127.0.0.1:3001
API_KEY="key"