# APP
PUBLIC_IP=1234
HOST=0.0.0.0
PORT=3000
SECRET=xxx

# POSTGRES
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234

# REDIS
REDIS_PORT=6379

# MQTT
MQTT_URL=mqtt://127.0.0.1:1883

# MEDIA_MTX
MEDIA_MTX_URL=http://127.0.0.1:9997
