{% extends "base.html" %}

{% block title %}ข้อมูลลม{% endblock title %}

{% block style %}
<link rel="stylesheet" href="/public/vendor/data-tables/css/dataTables.bootstrap5.css">
{% endblock style %}

{% block content %}
<h2>ข้อมูลลม</h2>

<div class="d-flex align-items-center mb-3">
    <div id="sensor-status-container">
        <span id="status-online" class="badge bg-success d-none">
            <i class="bi bi-broadcast"></i> เซ็นเซอร์เชื่อมต่ออยู่
        </span>
        <span id="status-offline" class="badge bg-danger pulse-danger">
            <i class="bi bi-broadcast-pin"></i> ไม่พบเซ็นเซอร์
        </span>
    </div>

    <small class="ms-3 text-muted" id="last-update-wind">
        รอข้อมูลจากเซ็นเซอร์...
    </small>
</div>

<div class="mb-3">
    <label class="form-label d-block">สถานะการบันทึกข้อมูลลม</label>
    {% if isRecording %}
    <button id="btn-toggle-record" class="btn btn-danger btn-lg shadow-sm" onclick="handleToggle(false)">
        <i class="bi bi-stop-circle-fill"></i> หยุดการบันทึก
    </button>
    {% else %}
    <button id="btn-toggle-record" class="btn btn-outline-success btn-lg shadow-sm" onclick="handleToggle(true)">
        <i class="bi bi-play-circle-fill"></i> เริ่มบันทึกข้อมูล
    </button>
    {% endif %}
</div>

<div class="mb-3">
    <label class="form-label d-block">การส่งออกข้อมูล</label>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#export-modal">
        ส่งออกเป็น CSV
    </button>
    <a href="/wind/csv-history" class="btn btn-outline-primary">ประวัติการส่งออก</a>
</div>

<div class="modal fade" id="export-modal" tabindex="-1" aria-labelledby="export-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="export-modal-label">ส่งออกเป็น CSV</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="exportForm" action="/wind/export" method="post">
                <div class="modal-body">

                    <div class="mb-3">
                        <label>วันที่เริ่มต้น</label>
                        <input type="datetime-local" name="beginDate" class="form-control" value="{{defaultBegin}}"
                            required>
                    </div>
                    <div class="mb-3">
                        <label>วันที่สิ้นสุด</label>
                        <input type="datetime-local" name="endDate" class="form-control" value="{{defaultEnd}}"
                            required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">ส่งออกเท่านั้น</button>
                    <button type="submit" class="btn btn-danger" formaction="/wind/export-and-delete"
                        onclick="return confirm('คุณแน่ใจใช่ไหมว่าต้องการส่งออกและลบข้อมูล?')">ส่งออกและลบข้อมูล</button>
                </div>
            </form>
        </div>
    </div>
</div>

<table class="table table-stripped" id="wind-table">
    <thead>
        <tr>
            <th>เซ็นเซอร์</th>
            <th>เวลา</th>
            <th>ทิศทาง (องศา)</th>
            <th>ความเร็ว (เมตรต่อวินาที)</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

{% endblock content %}

{% block scripts%}
<script src="/public/vendor/data-tables/js/jquery-3.7.1.js"></script>
<script src="/public/vendor/data-tables/js/dataTables.js"></script>
<script src="/public/vendor/data-tables/js/dataTables.bootstrap5.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/wind/wind-list.js"></script>
{% endblock scripts%}